<form action='scr' method='POST'>
Название системы:<br><input type='text' name='machine_name' value= '<%= @machine_name %>' ><br>
Производитель процессоров:<br><input type='text' name='firm_proc' value= '<%= @firm_proc %>' ><br>
Модели процессоров:<br><input type='text' name='proc_name' value= '<%= @proc_name %>' ><br>
Производитель ускорителей:<br><input type='text' name='firm_acc' value= '<%= @firm_acc %>' ><br>
Модели ускорителей:<br><input type='text' name='acc_name' value= '<%= @acc_name %>' ><br>
Название вычислительной сети:<br><input type='text' name='network_name' value= '<%= @network_name %>' ><br>
Место установки:<br><input type='text' name='uni' value= '<%= @uni %>' ><br>
Подразделение:<br><input type='text' name='division' value= '<%= @division %>' ><br>
Позиция:<br><input type='text' name='position' value= '<%= @position %>' ><br>
Результат на тесте linpack:<br><input type='text' name='testpeak' value= '<%= @testpeak %>' ><br>
Номер редакции:<br><input type='text' name='reliz' value= '<%= @reliz %>' ><br>
Имя конференции:<br><input required type='text' name='reliz_name' value= '<%= @reliz_name %>' ><br>
Описание конференции:<br><input required type='text' name='reliz_type' value= '<%= @reliz_type %>' ><br>
Дата:<br><input type='text' name='year' value= '<%= @year %>' ><br>
<input type='submit' value='Создать сертификат'>
</form>
